.about-container {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.7;
  margin-top: 20px;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
}

.about, .project,
.value, .connect {
  padding: 1.5rem;
  background-color: var(--section-bg);
  color: var(--section-text);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skills-list li {
  margin-bottom: 0.5rem;
}

.about-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--link);
  border-radius: 60%;
}
.about-container .about-stack {
  color: var(--text-color);
}

.about-container h3 {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

.about-intro,
.about-projects,
.about-values, .about-connect {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: justify;
  justify-content: center;
}
.about-connect a{
  text-decoration: none;
}
.skills-list {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1.1rem;
}

.skills-list li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .about-container {
    padding: 40px 15px;
  }

  .about-container h2 {
    font-size: 2rem;
  }

  .about-container h3 {
    font-size: 1.4rem;
  }

  .skills-list {
    font-size: 1rem;
  }
}
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 30px;
}

.tech-item {
  background-color: var(--section-bg);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 18px;
  text-align: center;
  transition: transform 0.3s ease;
}

.tech-item:hover {
  transform: translateY(-5px);
}

.tech-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.tech-item span {
  display: block;
  font-size: 0.9rem;
  color: var(--section-text);
}
.about-connect {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  
}
.connect-link {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: var(--accent);
  transition: color 0.3s ease;
  text-decoration: none;
}
.connect-link:hover {
  color: var(--project);
}