@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* :root {
  --primary-color: #3a8ddf;
  --primary-hover: #3276be;
  --text-color: #1e1e1e;
  --bg-color: #f9f9f9;
  --grid-line: %23e0e0e0; 
  --card-bg: #f2f2f2;
  --input-bg: #ffffff;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --primary-color: #3a8ddf;
  --primary-hover: #5699e0;
  --text-color: #f5f5f5;
  --bg-color: #1e1e1e;
  --card-bg: #2c2c2c;
  --input-bg: #3a3a3a;
  --shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
} */
:root {
  /* --bg: #ffffff; */
  --text-nav-color: #f5f5f5;
  --text: #111111; 
  --card: #f0f0f0;
  --accent: #007acc;
  --link: #007acc;
  --bg-color: #0e0e0e;
  --text-color: #eee; 
  --primary-color: #3a82f7;
  --grid-line: %23e0e0e0; /* light gray for light mode */
}

[data-theme='light'] {
  /* --bg: #121212;*/
  --text-nav-color: #f5f5f5;
  --text: #f5f5f5; 
  --card: #1e1e1e;
  --accent: #ff9800;
  --link: #ff9800;
  --bg-color: #f9f9f9;
  --text-color: #111; 
  --primary-color: #3a82f7;
  --grid-line: %23333333;
  --section-bg: #1a1a1a;
  --section-text: #f5f5f5;
  --accent-color: #6ea8ff;
  --border-color: #444; /* dark grid lines for dark mode */
}
[data-theme="dark"] {
  --section-bg: #ffffff;
  --section-text: #111;
  --accent-color: #3a82f7;
  --border-color: #d0d0d0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #101010; 
  color: #eee;
  transition: background-color 0.5s ease;
}

@keyframes bgScroll {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}


/* Light Theme */
body[data-theme='light'] {
  background: linear-gradient(to right, #dbeafe, #f0f9ff);
  color: #111;
} 

/* Dark Theme */
body[data-theme='dark'] {
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #f1f1f1;
}

.card,
.navbar,
.footer,
.section {
  transition: background-color 0.4s ease, color 0.4s ease;
}

html {
  scroll-behavior: smooth;
}
strong {
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
/* Light Theme */
[data-theme='light'] strong {
  color: #0ea5e9;
  /* background-color: rgba(14, 165, 233, 0.1);   */
}

/* Dark Theme */
[data-theme='dark'] strong {
  color: #38bdf8;
  /* background-color: rgba(56, 189, 248, 0.15);   */
}